<nav>
  <img src="../../assets/images/logo.png" alt="logo" class="logo">
  <img src="../../assets/images/f.ico" alt="logo" class="mini-logo">
  <div class="row">
    <div class="nav-links-container">
      <ul class="nav-ul">
        <li><a routerLinkActive="active" routerLink="/home" class="link">Home</a></li>
        <li><a routerLinkActive="active" routerLink="/search" class="link">Search</a></li>
        <li><a routerLinkActive="active" routerLink="/watchlist" class="link">Watchlist</a></li>
        <li><a routerLinkActive="active" routerLink="/about" class="link">About</a></li>
      </ul>
    </div>
    <!--
    <select class="dropdown-menu" (change)="navigateTo($event)">
      <option value="/home">Home</option>
      <option value="/search">Search</option>
      <option value="/watchlist">Watchlist</option>
      <option value="/about">About</option>
    </select>
    -->
    <div class="frame">
      <a routerLink="/login">
        <img src="{{this.userPicture}}" alt="user" class="pp"/>
      </a>
    </div>
  </div>
</nav>

<div class="footer-links-container full-width">
  <ul class="nav-ul">
    <li><a routerLinkActive="active" routerLink="/home" class="link-fa"><i class="fa fa-home"></i></a></li>
    <li><a routerLinkActive="active" routerLink="/search" class="link-fa"><i class="fa fa-search"></i></a></li>
    <li><a routerLinkActive="active" routerLink="/watchlist" class="link-fa"><i class="fa fa-list"></i></a></li>
    <li><a routerLinkActive="active" routerLink="/about" class="link-fa"><i class="fa fa-info"></i></a></li>
  </ul>
</div>
