<head>
  <title>About me - Fakeflix</title>
</head>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
</head>
<div class="container">
    <h1 class="about-title">Mathias CITRINI</h1>
    <h2>Engineering student in Software development</h2>
    <div class="frame">
      <img src="../../assets/images/mathias.jpg" alt="Mathias Citrini" class="about-img">
    </div>
    <div class="social-links">
      <a class="fab fa-linkedin" href="https://www.linkedin.com/in/mathias-citrini"></a>
      <a class="fab fa-github" href="https://github.com/DevilMortar"></a>
      <a class="fab fa-instagram" href="https://www.instagram.com/mathias_cit/"></a>
    </div>
</div>
