<head>
  <title>About me - Fakeflix</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous" />
</head>

<div class="flex flex-col items-center text-white font-bold">
    <h1 class="mt-[30px] mb-[5px] text-center text-brand-color text-3xl">Mathias CITRINI</h1>
    <h2 class="mb-[20px] text-center text-lg">M1 - Software development</h2>
    <div class="w-52 h-52 md:w-72 md:h-72 rounded-full border-5 border-brand-color">
      <img src="../../assets/images/mathias.jpg" alt="Mathias Citrini" class="w-full h-full rounded-full object-cover object-center">
    </div>
    <div class="flex justify-center w-auto mt-[20px] p-[10px] rounded-2xl bg-header-color">
      <a class="text-brand-color text-3xl m-0 mx-[10px] no-underline fab fa-linkedin" href="https://www.linkedin.com/in/mathias-citrini"></a>
      <a class="text-brand-color text-3xl m-0 mx-[10px] no-underline fab fa-github" href="https://github.com/DevilMortar"></a>
      <a class="text-brand-color text-3xl m-0 mx-[10px] no-underline fab fa-instagram" href="https://www.instagram.com/mathias_cit/"></a>
    </div>
</div>
