.page {
  margin: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--body-color-dark) 0%,
    var(--body-color) 10%,
    var(--body-color) 90%,
    var(--body-color-dark) 100%
  );
}

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(auto-fit, 200px);
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, 150px);
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, 100px);
  }
  @media screen and (max-width: 300px) {
    grid-template-columns: repeat(auto-fit, 75px);
  }
}

@media screen and (max-width: 1000px) {
  .user {
    width: 200px;
    height: 200px;
  }
  .user-container {
    grid-template-columns: repeat(auto-fit, 200px);
  }
  .title {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .user {
    width: 150px;
    height: 150px;
  }
  .user-container {
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .title {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .user {
    width: 100px;
    height: 100px;
  }
  .user-container {
    grid-template-columns: repeat(auto-fit, 100px);
  }
  .user {
    margin-bottom: 20px;
  }
  .h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 300px) {
  .user {
    width: 75px;
    height: 75px;
  }
  .user-container {
    grid-template-columns: repeat(auto-fit, 75px);
  }
  .user {
    margin-bottom: 10px;
  }
}
