<head>
  <title>Login - Fakeflix</title>
</head>

<div class="page">
  <div class="flex flex-row flex-wrap items-center justify-center absolute top-[25px] w-full">
    <img src="../../assets/images/logo.png" alt="logo" class="max-h-[175px] max-w-[175px] aspect-auto place-content-center">
  </div>
    <h1 class="text-center text-white text-3xl xl:text-5xl font-bold mt-20 mb-2">Who are you ?</h1>
    <!-- List of users -->
    <div class="my-2 mx-auto justify-center grid grid-cols-2 md:grid-cols-4 gap-2">
      <!-- User : Homer -->
      <app-user [name]="'Homer'" (eventOut)="this.onEvent($event)"></app-user>
      <!-- User : Geralt -->
      <app-user [name]="'Geralt'" (eventOut)="this.onEvent($event)"></app-user>
      <!-- User : Rick -->
      <app-user [name]="'Rick'" (eventOut)="this.onEvent($event)"></app-user>
      <!-- User : 김민재 -->
      <app-user [name]="'김민재'" (eventOut)="this.onEvent($event)"></app-user>
    </div>
</div>
