<nav class="bg-header-color w-full border-b block z-50">
  <div class="flex flex-wrap items-center justify-between mx-4 p-2 xl:p-4">
    <!-- Logo -->
    <a href="https://flowbite.com/" class="items-center space-x-3 rtl:space-x-reverse hidden xl:flex">
      <img src="../../assets/images/logo.png" class="h-12" alt="Flowbite Logo">
    </a>
    <!-- Mini logo for mobile -->
    <a href="https://flowbite.com/" class="flex items-center space-x-3 xl:hidden">
      <img src="../../assets/images/f.ico" class="h-12" alt="Flowbite Logo">
    </a>
    <div class="flex order-2 space-x-0 rtl:space-x-reverse">
      <!-- Profile -->
      <div class="w-[65px] h-[65px] rounded-full border-2 border-brand-color">
        <a routerLink="/login">
          <img src="{{this.userPicture}}" alt="user" class="rounded-full w-full h-full object-cover object-center"/>
        </a>
      </div>
    </div>
    <!-- Navbar links -->
    <div class="items-center justify-between w-auto hidden xl:flex order-1" id="navbar-sticky">
      <ul class="flex p-0 mt-0 font-medium rounded-lg bg-gray-50 space-x-6 rtl:space-x-reverse flex-row">
        <li>
          <a routerLink="/home" routerLinkActive="active bg-brand-color" class="block py-2 px-3 text-white rounded hover:bg-brand-color">Home</a>
        </li>
        <li>
          <a routerLink="/search" routerLinkActive="active bg-brand-color" class="block py-2 px-3 text-white rounded hover:bg-brand-color">Search</a>
        </li>
        <li>
          <a routerLink="/watchlist" routerLinkActive="active bg-brand-color" class="block py-2 px-3 text-white rounded hover:bg-brand-color">Watch List</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active bg-brand-color" class="block py-2 px-3 text-white rounded hover:bg-brand-color">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


