p {
  color: var(--white);
  font-family: var(--font-text);
  max-width: 75%;
}

h1 {
  color: var(--white);
  font-family: var(--font-title);
  text-align: center;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--body-color-light);
  padding: 20px;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.col-4 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.center {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.poster {
  width: 75%;
  margin: 20px 20px;
  border-radius: 25px;
}

.label {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 1rem 0 0;
  text-transform: uppercase;
}

.value {
  color: var(--white);
  font-size: 1.2rem;
  margin: auto 0;
}

.plot {
  color: var(--white);
  font-size: 1.2rem;
  max-width: 85%;
}

/* Like Button */

.like-btn {
  background-color: var(--brand-color);
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  height: 50px;
  margin: 0 0 0 1rem;
  width: 50px;
}

.like-btn:hover {

}

.like-btn:active {
  background-color: var(--body-color);
}

/* Dislike Button */

.unlike-btn {
  background-color: var(--brand-color);
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  height: 50px;
  margin: 0 0 0 1rem;
  width: 50px;
}

.unlike-btn:hover {

}

.unlike-btn:active {
  background-color: var(--body-color);
}

/* Star System */

.rating {
  display: flex;
  align-items: center;
}

/* Inherit .score from .value */
.score {
  color: gold;
  font-size: 1.5rem;
}

.stars {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
}

.stars::after {
  --percentage: calc(var(--rating) / 10 * 100%);
  content: "\2605\2605\2605\2605\2605"; /* Five full stars */
  font-size: 24px; /* Adjust the font size as needed */
  /* Color the first one in gold, the rest in grey */
  background: linear-gradient(90deg, gold var(--percentage), grey var(--percentage));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.score {
  margin-left: 5px;
}
