<div class="container light">
  <ng-container *ngIf="this.media !== null">
    <div class="col-3">
      <h1>{{this.media.Title}}</h1>
        <div class="row">
          <ng-container *ngIf="this.media.imdbRating !== -1">
          <div class="rating">
            <span class="stars" [style.--rating]="this.media.imdbRating"></span>
            <span class="score">{{this.media.imdbRating}}</span>
          </div>
          </ng-container>
          <ng-container *ngIf="this.media.imdbRating === -1">
            <p class="value">Rating not available</p>
          </ng-container>
          <div>
            <button class="like-btn" (click)="this.changeMediaLikeStatus()"><i class="{{this.media.isLiked ? 'fas' : 'far'}} fa-heart"></i></button>
          </div>
        </div>
      <div class="row">
        <p class="label">Type</p>
        <p class="value">{{this.media.Type}}</p>
      </div>
      <ng-container *ngIf="this.media.Type === 'series'">
        <div class="row">
          <p class="label">Seasons</p>
          <p class="value">{{this.media.totalSeasons}}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="this.media.Type === 'movie'">
        <div class="row">
          <p class="label">Duration</p>
          <p class="value">{{this.media.Runtime}}</p>
        </div>
      </ng-container>
      <div class="row">
        <p class="label">Genre</p>
        <p class="value">{{this.media.Genre}}</p>
      </div>
      <div class="row">
        <p class="label">Year</p>
        <p class="value">{{this.media.Year}}</p>
      </div>
      <div class="row">
        <p class="label">Director</p>
        <p class="value">{{this.media.Director}}</p>
      </div>
      <div class="row">
        <p class="label">Actors</p>
        <p class="value">{{this.media.Actors}}</p>
      </div>
      <ng-container *ngIf="this.media?.Plot !== 'N/A'">
          <p class="plot">{{this.media.Plot}}</p>
      </ng-container>
    </div>
    <div class="col-4 center">
      <img class="poster" src="{{this.media.Poster}}" alt="Poster">
    </div>
  </ng-container>
  <ng-container *ngIf="this.media === null">
    <div class="fa-3x">
      <i class="fas fa-spinner fa-spin"></i>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="this.similarMediaArray.length == 0 && this.loaded">
  <div class="container">
    <h1 class="center">No similar media found</h1>
  </div>
</ng-container>
<app-slide-card-container [mediaArray]="this.similarMediaArray" [loaded]="this.loaded"></app-slide-card-container>
