<ng-container *ngIf="this.mediaArray.length === 0 && !this.loaded">
  <div class="fa-3x">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
</ng-container>

<div class="main">
    <button (click)="this.slide(true)" class="btn-slide btn-slide-left"><i class="fas fa-chevron-left"></i></button>
    <button (click)="this.slide(false)" class="btn-slide btn-slide-right"><i class="fas fa-chevron-right"></i></button>
  <div class="slide-card-container">
    <ng-container *ngFor="let media of this.mediaArray">
      <app-media [media]="media"></app-media>
    </ng-container>
  </div>
</div>

