<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-header-color xl:hidden">
  <ul class="grid w-full h-full grid-cols-4 font-medium text-gray">
    <li class="flex items-center justify-center group"><a routerLinkActive="text-brand-color" routerLink="/home" class="text-2xl"><i class="fa fa-home"></i></a></li>
    <li class="flex items-center justify-center group"><a routerLinkActive="text-brand-color" routerLink="/search" class="text-2xl"><i class="fa fa-search"></i></a></li>
    <li class="flex items-center justify-center group"><a routerLinkActive="text-brand-color" routerLink="/watchlist" class="text-2xl"><i class="fa fa-list"></i></a></li>
    <li class="flex items-center justify-center group"><a routerLinkActive="text-brand-color" routerLink="/about" class="text-2xl"><i class="fa fa-info"></i></a></li>
  </ul>
</div>
