<div class="group max-w-[120px] sm:max-w-[150px] xl:max-w-[200px] border-2 border-body-color rounded-3xl text-center text-gray font-bold text-2xl hover:cursor-pointer hover:text-white aspect-square" (click)="this.onClick()">
  <img src="../../assets/images/{{this.name.toLowerCase()}}.jpg" alt="logo" class="w-full h-full rounded-3xl object-cover object-center border-4 border-transparent transition duration-100 group-hover:border-white">
  <h2 class="block overflow-hidden mt-1">{{this.name}}</h2>
</div>
