/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  background-color: var(--body-color);
  margin: 0;
  padding-bottom: 75px;
}

:root {
  /* Colors */
  --brand-color: #d52727;
  --header-color: hsl(0, 0%, 7%);
  --body-color-dark: hsl(0, 0%, 10%);
  --body-color: hsl(0, 0%, 10%);
  --body-color-light: hsl(0, 0%, 15%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --pink: hsl(296, 100%, 50%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
  /* card */
  --card-size: 15.625rem;
}

/* Global Styles */

.fa-3x {
  margin-top: 25px;
  font-size: 3rem;
  color: var(--white);
  text-align: center;
}


