<head>
  <title>Home - Fakeflix</title>
</head>

<div class="w-full overflow-hidden">
  <img src="../../assets/images/banner.png" alt="banner" class="object-cover object-center w-full max-h-full">
</div>

<!-- Home demo : Star Wars saga -->
<app-home-section [title]="'The Star Wars saga'" [search]="'Star Wars'"></app-home-section>

<!-- Home demo : Harry Potter saga -->
<app-home-section [title]="'The Harry Potter saga'" [search]="'Harry Potter'"></app-home-section>

<!-- Home demo : Fast and Furious saga -->
<app-home-section [title]="'For the Toy Story fans'" [search]="'Toy Story'"></app-home-section>
